/* FavoriteWords.css */
.favorite-words-container {
  margin-top: 20px;
}

.favorite-words-heading {
  font-size: 1.5em;
  color: #333;
}

.favorite-words-list {
  list-style: none;
  padding: 0;
}

.favorite-words-item {
  display: flex;
  margin-bottom: 10px;
  border-radius: 5px;
}

.clickable-word {
  cursor: pointer;
}

.remove-button {
  background-color: #ff3333;
  color: #fff;
  border: none;
  border-radius: var(--border-radius);
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.no-favorites-message {
  color: #555;
  font-style: italic;
}
