.favorite-words-container {
  margin-top: 20px;
}

.favorite-words-heading {
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.favorite-words-list {
  list-style: none;
  padding: 0;
}

.favorite-words-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--highlight);
  border-radius: var(--border-radius);
  padding: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  max-width: 400px;
}

.clickable-word {
  cursor: pointer;
  font-size: 1.2em;
  flex-grow: 1;
}

.remove-button {
  background-color: #ff3333;
  color: #fff;
  border: none;
  border-radius: var(--border-radius);
  padding: 5px 10px;
  cursor: pointer;
  flex-shrink: 0;
  margin-left: 5px;
}

.no-favorites-message {
  font-style: italic;
}
