:root {
  --header-background: #c6caf5;
  --header-text: #363952;
  --header-background-dark: #43476b;
  --header-text-dark: #ecece8;

  --background-light: #ecece8;
  --text-light: #2b2b2e;
  --accent-light: #54668e;
  --secondary-light: #879ec6;
  --highlight-light: #59598e;

  --background-dark: #2b2b2e;
  --text-dark: #ecece8;
  --accent-dark: #54668e;
  --secondary-dark: #879ec6;
  --highlight-dark: #59598e;

  --border-radius: 5px;

  --global-margin: 20%;
}
