* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  margin-left: var(--global-margin);
  margin-right: var(--global-margin);
}

:root {
  --background: var(--background-light);
  --text: var(--text-light);
  --accent: var(--accent-light);
  --secondary: var(--secondary-light);
  --highlight: var(--highlight-light);
}

:root[data-theme="dark"] {
  --background: var(--background-dark);
  --text: var(--text-dark);
  --accent: var(--accent-dark);
  --secondary: var(--secondary-dark);
  --highlight: var(--highlight-dark);
}

body {
  color: var(--text);
  background-color: var(--background);
}

[data-theme="dark"] body {
  color: var(--text);
  background-color: var(--background);
}
